.logo{

text-align: center;
}

img{
    width: 150px;
    height: 150px;
    margin-left: 50%;

}

.container{
    margin-left: 45%;
}
.nome{
    margin-bottom: 20px;
    text-align: center;
}
.senha{
 
    margin-bottom: 20px;
    text-align: center;

}

.btn-entrar{
    margin-top: 40px;
    margin-left: 56px;
    text-align: center;
  }
.butao{

    background-color: white;
    border:  1px solid orange;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: orange;
    text-decoration: none;
    text-align: center;

}